.background {
  min-height: 100vh;
  z-index: -999;
  background: #7f53ac linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.timer {
  position: fixed;
  min-width: 64px;
  left: 0;
  font-size: 1.5em;
  top: 32px;
  z-index: 999;
}

.counter {
  min-width: 64px;
}

.bg-text {
  font-weight: 900;
  opacity: 0.2;
  color: #fff;
  position: fixed;
  left: 50vh;
  top: 10vh;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
