.image-background {
  background-size: contain;
  background: no-repeat center;
}

.plate-bg {
}

.item {
  width: 20vw !important;
  height: 20vw !important;
}

.example-boundary {
  display: inline-block;
  width: 75vw;
  height: 75vw;
  border: dotted #ccc 2px;
}


