.assiette {
  position: absolute;
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
/*  max-width: 500px;
  max-height: 500px;*/
}

.image-background {
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
}

.example-box {
  width: 200px;
  height: 200px;
}

.example-boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: dotted #ccc 2px;
}


