<div class="container d-flex align-items-center h-100">
  <div class="bg-light p-4 shadow w-100 rounded">
    <form>
      <div class="form-group">
        <label>Choose a cool name</label>
        <input class="form-control" type="text" placeholder="Display Name" required>
      </div>
      <div class="form-group text-center mt-5">
        <button type="submit" class="btn btn-primary w-25 mx-1">PLAY</button>
        <a routerLink="/" class="btn btn-danger w-25 mx-1">MENU</a>
      </div>
    </form>
  </div>
</div>
