<div class="container h-100 d-flex flex-column align-items-center justify-content-center">
  <h1 class="text-black mb-5 text-light title">La Bibe Party</h1>
  <button class="btn btn-light shadow w-100 my-5" (click)="this.gameService.play()"
     [disabled]="this.gameService.state != 'lounge'">PLAY</button>
  <button class="btn btn-light shadow w-100 my-5" (click)="this.gameService.spectate()">SPECTATE</button>
  <img class="img-fluid h-100 my-5" src="https://www.unitag.io/qreator/generate?crs=4BAmR9OQWFAtOJv1AL%252BzHVUz5gRo5fmOA%252F1s4ZJggKrrluRnPMp6wVq5rBFA2qnB56l%252FWMVzcMhg4rYh5yz9QXWztfy251qU3Wd7kECEt6nWdthzhtuBozMeEp%252FK2zxflX4Csht7QebjDoymuNm33T71G6HW5DSDTxPyvLJ9evKmYhE%252BhS3HkJJFdrDpyaAtmq5%252BwuWGHaL2ME%252BtUtefoA%253D%253D&crd=fhOysE0g3Bah%252BuqXA7NPQ7YyCjwTPhw4jKUBZYZNBSINp95YMgTYWgaqZ0TmZL9oBogu32xJTXlBYQnTbmiNMw%253D%253D">
</div>
