@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.text-black {
  font-weight: 900;
}

.cursor-pointer {
  cursor: pointer !important;
}
