@import "~bootstrap/dist/css/bootstrap.min.css";

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.text-black {
  font-weight: 900;
}

.cursor-pointer {
  cursor: pointer !important;
}
