.menu-container {
  display: flex;
  justify-content: center;
}

.arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 200px;
}

.arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  max-width: 200px;
}

.wrapper {
  padding-top: 25%;
}
