<div class="wrapper position-relative">
  <div class="arrow-left" *ngIf="selectedClothes">
    <div *ngFor="let clotheType of clothes; let i = index" [style.height.px]="height/clothes.length">
      <app-arrow [height]="height/clothes.length + height / 4" (clicked)="selectNext(i)"></app-arrow>
    </div>
  </div>

  <div *ngIf="selectedClothes && ready">
    <app-fashion-draw [width]="width"
                      [height]="height"
                      [drawables]="selectedClothes"></app-fashion-draw>
  </div>

  <div class="arrow-right">
    <div *ngIf="selectedClothes">
      <div *ngFor="let clotheType of clothes; let i = index" [style.height.px]="height/clothes.length">
        <app-arrow [height]="height/clothes.length + height / 4" [left]="false" (clicked)="selectPrev(i)"></app-arrow>
      </div>
    </div>
  </div>
</div>
